.container {
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  background-color: #2E9CCA;
  border: none;
  cursor: pointer;
  font-family: "Museo Sans Cyrl 900", sans-serif;
}

.round-btn {
  border-radius: 50%;
  background-color: #2E9CCA;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.input {
  outline: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Museo Sans Cyrl 300", sans-serif;
  border: 1px solid #2E9CCA;
  padding: 10px;
  &::placeholder {
    color: #858585;
  }
}
