<div class="login-container">
  <div class="login-title">Авторизация</div>
  <form action="" class="login-form">
    <input type="text" class="input login-input" placeholder="Логин" #login>
    <div class="password-input-container">
      <input type="password" class="input login-input" placeholder="Пароль" #password>
      <a href="/forgotpassword" class="forgot-password-link">Забыли пароль?</a>
    </div>
    <button type="button" class="btn login-btn" (click)="loginService.testLogin(login.value, password.value)">Войти</button>
  </form>
</div>
