@import "src/app/app.component";

.project-item {
  max-width: 360px;
  margin: 10px 0;
  .item-image {
    width: 360px;
    height: 200px;
    background-color: #AAABB8;
    border-radius: 10px;
  }
  .item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .item-title {
      font-size: 14px;
      color: #fff;
      max-width: 200px;
    }
    .item-btn {
      width: 120px;
      height: 25px;
      border-radius: 5px;
      font-size: 12px;
      font-family: "Museo Sans Cyrl 900", sans-serif;
    }
  }
}

.project-details-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.1);
  .project-details {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    width: 700px;
    padding: 50px;
    .close-project-details-btn {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .project-details-text {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
