<div class="register-container">
  <div class="register-title">Регистрация</div>
  <form action="" class="register-form">
    <input type="text" class="input register-input" placeholder="Логин">
    <div class="password-inputs-container">
      <input type="password" class="input register-input" placeholder="Пароль">
      <input type="password" class="input register-input" placeholder="Повторите пароль">
    </div>
    <input type="email" class="input register-input" placeholder="E-mail">
    <div class="user-name-inputs-container">
      <input type="text" class="input register-input" placeholder="Имя">
      <input type="text" class="input register-input" placeholder="Фамилия">
      <input type="text" class="input register-input" placeholder="Отчество">
    </div>
    <input type="tel" class="input register-input" placeholder="Телефон">
    <button type="button" class="btn register-btn">Зарегистрироваться</button>
  </form>
</div>
