<div class="projects-page-container">
  <div class="projects-title">Наши проекты</div>
  <div class="projects">
    <div class="project-item">
      <div class="item-image"></div>
      <div class="item-info">
        <div class="item-title">Интернет-магазин плюшевых игрушек</div>
        <button class="btn item-btn">Подробнее</button>
      </div>
    </div>
    <div class="project-item">
      <div class="item-image"></div>
      <div class="item-info">
        <div class="item-title">Интернет-магазин плюшевых игрушек</div>
        <button class="btn item-btn">Подробнее</button>
      </div>
    </div>
    <div class="project-item">
      <div class="item-image"></div>
      <div class="item-info">
        <div class="item-title">Интернет-магазин плюшевых игрушек</div>
        <button class="btn item-btn">Подробнее</button>
      </div>
    </div>
    <div class="project-item">
      <div class="item-image"></div>
      <div class="item-info">
        <div class="item-title">Интернет-магазин плюшевых игрушек</div>
        <button class="btn item-btn">Подробнее</button>
      </div>
    </div>
    <div class="project-item">
      <div class="item-image"></div>
      <div class="item-info">
        <div class="item-title">Интернет-магазин плюшевых игрушек</div>
        <button class="btn item-btn">Подробнее</button>
      </div>
    </div>
    <div class="project-item">
      <div class="item-image"></div>
      <div class="item-info">
        <div class="item-title">Интернет-магазин плюшевых игрушек</div>
        <button class="btn item-btn">Подробнее</button>
      </div>
    </div>
  </div>
</div>
