@import "src/app/app.component";

.projects-page-container {
  padding: 50px 0;
  .projects-title {
    font-size: 36px;
    color: #fff;
    font-family: "Museo Sans Cyrl 900", sans-serif;
    margin-bottom: 10px;
  }
  .projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
