<div class="order-item">
  <div class="details-btn" (click)="details = !details"
       [ngClass]="{
       'opened': details
  }">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z"
            fill="#0F1729"/>
    </svg>
  </div>
  <div class="item-name">Интернет-магазин плюшевых игрушек</div>
  <div class="item-info" *ngIf="details">
    <div class="item-description">
      <div class="description-title">Описание заказа:</div>
      <div class="description-text">
        Добро пожаловать на наш сайт, посвященный плюшевым игрушкам! Здесь вы найдете огромный выбор милых и уютных
        зверушек, которые станут
        лучшим другом для вас или вашего ребенка. Наша коллекция включает в себя игрушки разных размеров и форм, от
        маленьких мягких мишек до
        больших плюшевых животных. Мы предлагаем качественные игрушки от известных производителей, которые изготовлены
        из безопасных материалов
        и проходят строгие проверки качества. Каждая игрушка на нашем сайте сопровождается подробным описанием и
        фотографиями, чтобы вы могли
        выбрать идеальную игрушку для себя или своего ребенка. Мы также предоставляем быструю доставку по всей стране и
        гарантируем полное
        удовлетворение от покупки. Посетите наш сайт и найдите свою новую любимую плюшевую игрушку!
      </div>
    </div>
    <div class="item-document">
      <div class="document-title">Договор:</div>
      <div class="document-file-link">
        <a href="">скачать файл</a>
      </div>
    </div>
    <div class="item-status">
      <div class="status-title">Статус:</div>
      <div class="status-name">в разработке</div>
    </div>
  </div>
</div>
